* {
    margin: 0;
    font-family: "Rubik Mono One", serif;
    font-weight: 400;
    font-style: normal;
}

.division{
        border-left: 2px solid gray;
        height: 30px;
        margin: 0 auto;
    }

div:hover, section:hover, li:hover {
    background-color: rgba(22, 22, 22, 0.082);
}

nav {
    background-color: rgb(109, 109, 109);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100px;
}

nav div {
    margin: 0;
    display: flex;
    font-size: 50px;
    width: 30%;
}

#titulo {
    width: 600px;
}

#titulo h1 {
    font-size: 70px;
    vertical-align: middle;
}

#icono_carrito {
    width: 200px;
}

#icono_carrito img {
    height: 80%;
}

header {
    background-color: rgb(179, 179, 179);
    justify-content: space-between;
    height: 300px;
}

header img {
    height: 100%;
}

header div {
    width: 49%;
    height: 100%;
    margin: 0;
    display: inline-flex;
}

.centrado {
    position: relative;
}

.centrado * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#presentacion h2 {
    width: 100%;
    font-size: 30px;
    text-align: left;

}

#titulo_tienda {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

.producto{
    display: inline-block;
    margin: 10px;
    width: 30%;
    border: 1px solid black;
    background-color: rgb(179, 179, 179);
}

.producto div{
    border: 1px solid black;
    margin: 10px;
}

.imagen_producto{
    background-color: white;
}

.imagen_producto img{
    height: 200px;
    margin: 0px;
}

.boton_comprar{
    border: 0px solid #eee;
}

.boton_comprar button{
    margin: 5px;
    width: 50%;
}

#carrito{
    display: none;
    position: fixed;
    right: 0;
    height: 600px;
    width: 1000px;
    z-index: 10;
    background-color: rgb(179, 179, 179);
    overflow-y: scroll;
}

#titulo_carrito{
    height: 50px;
}

#lista_carrito li span img{
    height: 50px;
}

#lista_carrito li *{
    margin: 5px;
}

#lista_carrito li{
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#lista_carrito {
    list-style: none;
}

.contenido{
    width: 300px;
    height: 100%;
}

.separador{
    width: 5px;
}

hr{
    margin: 5px;
}

